<figure>
	<img src="{{ site.github.url }}/assets/img/{{ include.file }}" alt="{{ include.name }}" style="width:90%; min-width:100px">   <!--   style="width:200px"-->
	<figcaption class="name" style="font-weight:bold; text-align:center">{{ include.name }}</figcaption>
	<figcaption class="status" style="text-align:center">{{ include.status }}</figcaption>
	<figcaption class="email" style="text-align:center; font-size:9pt">{{ include.email }}</figcaption>
	<figcaption class="keywords" style="font-style:italic; text-align:center">{{ include.keywords }}</figcaption>  <!--  display:block -->
</figure>

